# Require all denied

# Allow from all

Order Deny,Allow
Deny from all

<Files /index.php>
	Order Allow,Deny
	Allow from all
</Files>



<IfModule mod_rewrite.c>
	RewriteEngine On

	# Filepath is not /img/...
	RewriteCond %{REQUEST_URI} !^/img/.*$
	# Filepath is not /js/...
	RewriteCond %{REQUEST_URI} !^/js/.*$
	# Filepath is not /css/...
	RewriteCond %{REQUEST_URI} !^/css/.*$
	# URI is not one of the allowed routes (exact match)
	RewriteCond %{REQUEST_URI} !^/(impressum|about|projekte|youtube|kontakt)$
	# URI is not /admin or /admin/...
	RewriteCond %{REQUEST_URI} !^/admin(/.*)?$
	RewriteCond %{QUERY_STRING} !redirected
	# Redirect to index
	RewriteRule /?.+ / [L,R]

	# Rewrite to impressum & end evaluation
	RewriteRule impressum$ index.php?view=impressum&redirected
	# Rewrite to admin & end evaluation
	RewriteRule admin index.php?view=admin&redirected
	# Rewrite to index & end evaluation
	RewriteRule (about|projekte|youtube|kontakt)$ index.php?redirected
</IfModule>
