body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway, Lato, sans-serif;
}

.splash {
  width: 100%;
}

.splash-image {
  width: 100%;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  position: relative;
  font-weight: 900;
  margin-top: 30px;
  padding: 10px;
  margin-left: 40px;
  display: inline-block;
}

h1 a {
  color: white;
  text-decoration: none;
}

nav ul {
  float: right;
  margin-top: 30px;
  padding: 0;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: -1.9px;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
}

.navEntry {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, black 50%, transparent 50%);
  background-position: 0 -100%;
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

p {
  font-family: Merriweather, serif;
}

section {
  margin: 0px auto;
  padding-top: 100px;
  width: 100%;
  max-width: 1024px;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 300;
}

.intro {
  font-style: italic;
}

.person img {
  border-radius: 100%;
}