body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway, Lato, sans-serif;
}

.splash {
  width: 100%;
}

.splash-image {
  width: 100%;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  position: relative;
  font-weight: 900;
  margin-top: 30px;
  padding: 10px;
  margin-left: 40px;
  display: inline-block;
}

h1 a {
  color: white;
  text-decoration: none;
}

nav ul {
  float: right;
  margin-top: 30px;
  padding: 0;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: -4.1px;
}

nav ul li a {
  display: inline-block;
  padding: 12px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
}

.navEntry {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, black 50%, transparent 50%);
  background-position: 0 -100%;
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

p {
  font-family: Merriweather, serif;
}

section {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 100px 50px 0px;
  width: 100%;
  max-width: 1100px;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 300;
}

.intro {
  font-style: italic;
}

.person img {
  margin: 25px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0px;
  display: inline-block;
}

.person {
  display: flex;
  background-color: rgba(160,150,150,0.3);
  margin: 40px 20px;
  padding: 20px;
  box-sizing: border-box;
}

.person a {
  text-decoration: none;
  color: #089970;
  right: 10px;
  float: right;
  padding: 5px;
  margin-top: 20px;
  font-weight: 600;
}

.person span {
  display: inline-block;
  font-family: Merriweather, serif;
  font-style: italic;
  width: 100%;
  font-size: 0.9em;
  color: rgb(100,100,100);
  font-weight: 300;
}

.person p {
  margin-top: 7px;
  font-size: 18px;
  line-height: 27px;
}

.img-wrap {
  height: 200px;
  width: 200px;
}

.info-wrap {
  flex: 1;
  padding-left: 25px;
}

@media (max-width: 750px), (orientation: portrait) {
  /* TODO: responsive*/
}