body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway, Lato, sans-serif;
}

.splash {
  width: 100%;
}

.splash-image {
  width: 100%;
}

footer {
  width: 100%;
  position: relative;
}

footer img {
  width: 100%;
  margin-bottom: -4px;
}

footer span {
  position: absolute;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  display: block;
  width: 100%;
  bottom: 20px;
  color: white;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  position: relative;
  font-weight: 900;
  margin-top: 30px;
  padding: 10px;
  padding-left: 2em;
  margin-left: 40px;
  display: inline-block;
}

h1 a::before {
  display: inline-block;
  content: " ";
  background-image: url("./img/spin.svg");
  background-size: 100% 100%;
  height: 1.4em;
  width: 1.4em;
  position: absolute;
  left: 10px;
  top: 7px;
}

h1 a {
  color: white;
  text-decoration: none;
}

nav ul {
  float: right;
  margin-top: 30px;
  padding: 0;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: -4.1px;
}

nav ul li a {
  display: inline-block;
  padding: 12px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  color: white;
}

li.icon {
  display: none;
}

.navEntry {
  background-size: 100% 300%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 33.33%, #dd0468 33.33%, #dd0468 66.66%, black 66.66%, black 100%);
  background-position: 0 0;
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.navEntry:hover {
  background-position: 0 50% !important;
}

p {
  font-family: Merriweather, serif;
}

section {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 140px 50px 0px;
  width: 100%;
  max-width: 1100px;
}

h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #333333;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  font-weight: 300;
}

.intro {
  font-style: italic;
}

.person img {
  margin: 25px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0px;
  display: inline-block;
}

.person {
  display: flex;
  background-color: rgba(160,150,150,0.3);
  margin: 40px 20px;
  padding: 20px;
  box-sizing: border-box;
}

.person a {
  text-decoration: none;
  color: #089970;
  right: 10px;
  float: right;
  padding: 5px;
  margin-top: 20px;
  font-weight: 600;
}

.person span {
  display: inline-block;
  font-family: Merriweather, serif;
  font-style: italic;
  width: 100%;
  font-size: 0.9em;
  color: rgb(100,100,100);
  font-weight: 300;
}

.person p {
  margin-top: 7px;
  font-size: 18px;
  line-height: 27px;
}

.img-wrap {
  height: 200px;
  width: 200px;
}

.info-wrap {
  flex: 1;
  padding-left: 25px;
}

@media (max-width: 750px), (orientation: portrait) {
  h1 {
    font-size: 8vw;
  }

  nav ul li a {
    font-size: 8vw;
  }

  nav ul li:not(.icon) {
    display: none;
  }

  li.icon {
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 40px;
  }

  nav ul.visible li:not(.icon) {
    display: block;
    width: 60vw;
    float: left;
    margin-bottom: 10px;
    margin-left: 40px;
  }
}

.youtube-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.video {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: rgba(160,150,150,0.3);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}

.video:hover {
  transform: scale(1.02,1.02);
  background-color: rgb(200,3,80);
}

.video:hover span {
  color: #fff;
}

.video img {
  width: 100%;
}

.video span {
  margin-top: 7px;
  color: rgb(200,3,80);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}