<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cutcore</title>
    <link rel="stylesheet" href="./css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="./img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./img/favicon/manifest.json">
    <link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="splash" id="top">
      <img class="splash-image" src="./img/splash.jpg" alt="CUTCORE">
    </div>
    <nav>
      <h1 class="navEntry"><a href="#top">CUTCORE</a></h1>
      <ul>
        <li><a class="navEntry" href="#about">About</a></li>
        <li><a class="navEntry" href="#projects">Projekte</a></li>
        <li><a class="navEntry" href="#youtube">Youtube</a></li>
        <li><a class="navEntry" href="#contact">Kontakt</a></li>
        <li class="icon"><a class="navEntry" href="javascript:void(0);" onclick="navigationHandler()">Menü</a></li>
      </ul>
    </nav>
    <section id="about">
      <h2>About</h2>
      <p class="intro">{{ aboutText }}</p>
      {% for person in aboutPersons %}
      <div class="person">
        <div class="img-wrap">
          <img src="{{ person.imgUrl }}" alt="{{ person.name }}">
        </div>
        <div class="info-wrap">
          <h3>{{ person.name }}</h3>
          <a class="link" href="mailto:{{ person.email }}">{{ person.email }}</a>
          <span>{{ person.position }}</span>
          <p>{{ person.text }}</p>
        </div>
      </div>
      {% endfor %}
    </section>
    <section id="projects">
      <h2>Projekte</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem asperiores quidem, eaque nulla aliquid neque voluptates, eius quod dolorem dicta! Cupiditate quisquam, recusandae atque impedit. Ea mollitia, explicabo. Pariatur aut ab dolorum ipsa maiores totam est rem eligendi minus officia? Facilis delectus deserunt tempora ut, ea tenetur voluptatum, illum blanditiis laboriosam non cupiditate modi deleniti magni quam accusamus incidunt nisi! Dicta laudantium repellendus, dolorem deserunt atque quibusdam fugit quae veniam dolorum numquam libero, distinctio unde doloremque necessitatibus eaque ullam asperiores cum totam aspernatur. Delectus nobis repellat reiciendis assumenda quos, perspiciatis repellendus ad voluptatum cum excepturi, quo animi quis porro, natus.</p>
    </section>
    <section id="youtube">
      <h2>Youtube</h2>
      <div class="youtube-grid">
        {% for video in youtubeVideos %}
        <div class="video">
          <img src="https://img.youtube.com/vi/{{ video.id }}/maxresdefault.jpg" alt="">
          <span>{{ video.name }}</span>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="contact">
      <h2>Kontakt</h2>
      <p class="intro">Sie haben irgendwelche Fragen oder Wünsche? Wir haben immer ein offenes Ohr. Schreiben Sie einfach eine E-Mail an <a class="link" href="mailto:kontakt@cutcore.de">kontakt@cutcore.de</a>, twittern sie uns unter <a class="link" href="https://twitter.com/cutcore">@cutcore</a> oder nutzen Sie einfach unser Kontaktformular.</p>
    </section>

    <footer>
      <img src="./img/footer.jpg" alt="">
      <span>&copy; CUTCORE {{ "now"|date("Y") }} // IMPRESSUM</span>
    </footer>

    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
